/* Error: Declarations may only be used within style rules.
 *   ,
 * 4 |     text-decoration:none;
 *   |     ^^^^^^^^^^^^^^^^^^^^
 *   '
 *   scss\_mixin.scss 4:5   anclas()
 *   scss\_footer.scss 7:3  @import
 *   scss\estilo.scss 7:9   root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Declarations may only be used within style rules.\a   \2577 \a 4 \2502      text-decoration:none;\d\a   \2502      ^^^^^^^^^^^^^^^^^^^^\a   \2575 \a   scss\\_mixin.scss 4:5   anclas()\a   scss\\_footer.scss 7:3  @import\a   scss\\estilo.scss 7:9   root stylesheet";
}
